{% extends "auctions/layout.html" %}

{% block title %}
    {{ category }}
{% endblock title %}

{% block main %}
    <h3>Listings for {{ category }}</h3>
    {% for listing in listings %}
        <a href="{% url 'listing_detail' listing.id %}">
            <article>
                <section>
                    <img src="{{ listing.imageLink }}" width="100" alt="Item for sale">
                    {{ listing.title }} - ${{ listing.bidPrice }} <br>
                    {{ listing.description }}
                </section>
            </article>
        </a>
    {% endfor %}
{% endblock main %}