{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock title %}

{% block main %}
    <p>{{ listing.title }} - <small>Created: {{ listing.created_on.date }} <br>Seller: {{ listing.seller }}</small></p>
    {% if not listing.isListingActive %}
        <h3 style="color: red">Listing Closed</h3>
    {% endif %}
    <img src="{{ listing.imageLink }}" width="600" alt="Item for sale">
    <p>{{ listing.description | linebreaks }}</p>
    <p>Current bid: ${{ listing.bidPrice }}</p>
    <small>
        Category:
        <a href="{% url 'listings_by_category' listing.category %}">
            {{ listing.category }}
        </a>
    </small>

    <h3>Leave a comment:</h3>
    <form action="/listing/{{ listing.pk }}/" method="post">
        {% csrf_token %}
        <div>
            {{ comment_form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            <small>{{ comment.created_on }}</small> <br>
            <b>{{ comment.author }}</b> wrote:
            {{ comment.body | linebreaks }}
        </p>
    {% endfor %}
{% endblock main %}