{% extends "auctions/layout.html" %}

{% block title %}
    Active Listings
{% endblock title %}

{% block main %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <a href="{% url 'listing_detail' listing.id %}">
            <article>
                <section>
                    <img src="{{ listing.imageLink }}" width="100" alt="Item for sale">
                    {{ listing.title }} - ${{ listing.bidPrice }}
                </section>
            </article>
        </a>
    {% endfor %}
{% endblock main %}
